[Unit]
Description=Apache Tomcat 7 Service
After=syslog.target
After=network.target

[Service]
Type=forking
PIDFile=/var/run/tomcat/tomcat.pid
User=tomcat
Group=tomcat

Restart=on-failure

ExecStart=/opt/local/apache-tomcat/bin/startup.sh
ExecStop=/opt/local/apache-tomcat/bin/shutdown.sh

ExecReload=/opt/local/apache-tomcat/bin/shutdown.sh
ExecReload=/opt/local/apache-tomcat/bin/startup.sh


[Install]
WantedBy=multi-user.target
