{% set  md_ver = grains['MAGICDRAW_VERSION'] %}
[Desktop Entry]
Encoding=UTF-8
Name=Stop Teamwork Server
Comment=Stop No Magic {{ md_ver }} Teamwork Server
Exec=sudo systemctl stop teamwork
Icon=/opt/local/teamwork/bin/md.png
Categories=Application;
Version={{ md_ver }}
Type=Application
Terminal=1