[Unit]
Description=MagicDraw Teamwork Server
After=syslog.target
After=network.target

[Service]
User=teamwork
Group=teamwork
WorkingDirectory=/opt/local/teamwork/
ExecStart=/opt/local/teamwork/bin/teamwork_server_nogui SERVICE
ExecStop=/opt/local/teamwork/bin/stop_teamwork_server

StandardOutput=syslog

[Install]
WantedBy=multi-user.target
