[Unit]
Description=MagicDraw Teamwork Server
After=syslog.target
After=network.target

[Service]
Type=forking
User=teamwork
Group=teamwork

ExecStart=bin/bash -c '$TEAMWORK_HOME/bin/teamwork_server'
ExecStop=bin/bash -c '$TEAMWORK_HOME/bin/stop_teamwork_server'

ExecReload=bin/bash -c '$TEAMWORK_HOME/bin/stop_teamwork_server'
ExecReload=bin/bash -c '$TEAMWORK_HOME/bin/teamwork_server'


[Install]
WantedBy=multi-user.target
