[Unit]
Description=MagicDraw Teamwork Server
After=syslog.target
After=network.target

[Service]
Type=forking
User=teamwork
Group=teamwork

ExecStart=/bin/bash -c '/opt/local/teamwork/bin/teamwork_server SERVICE'
ExecStop=/bin/bash -c '/opt/local/teamwork/bin/stop_teamwork_server SERVICE'

ExecReload=/bin/bash -c '/opt/local/teamwork/bin/stop_teamwork_server SERVICE'
ExecReload=/bin/bash -c '/opt/local/teamwork/bin/teamwork_server SERVICE'


[Install]
WantedBy=multi-user.target
